@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

html {
    height: 100%;
}

body {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
   
    font-family: "Nanum Gothic", arial, helvetica, sans-serif;

}
.LoginForm{
	margin-top: 50px;
}

.card {
	margin-top: 80px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.loginRegister{
	text-align: center;
}
#btn-Yes {
	width:130px;
	float: left;

}
#btn-Register{
	width: 130px;
	float: left;
	margin: 0;
	margin-left: 10px;
}
#btn-Register > a{
    color: white;
    text-decoration: none !important;
}